{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header with-border">
                        <h3 class="card-title"><a href="{% url 'add_product' %}"
                                class="btn btn-primary btn-sm">
                                <i class="fa fa-edit"></i> Tambah
                            </a></h3>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success alert-dismissible {% if message.tags %}alert-{{ message.tags }}" {% endif %}>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    {{ message }}   
                                    {% endfor %}
                            </div>
                        {% endif %} 
                        <div class="table-responsive">
                            <table id="myTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nama Produk</th>
                                        <th>Stok</th>
                                        <th>Harga</th>
                                        <th>Kategori</th>
                                        <th>Last Update</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in object_list %}
                                        <tr>
                                            <td>
                                            {% if row.photo %} 
                                                <img src="{% get_media_prefix %}{{row.photo}}" 
                                                    alt="{{ row.name }}" width="50px" height="50px">
                                            {%else%}
                                                <img src="http://via.placeholder.com/50x50" alt="{{ row.name }}">
                                            {%endif%}
                                            </td>
                                            <td>{{row.name}}</td>
                                            <td>{{row.stock}}</td>
                                            <td>{{row.price}}</td>
                                            <td>{{row.categories}}</td>
                                            <td>{{row.updated_at}}</td>
                                            <td>
                                                <a href="{% url 'update_product' row.id %}" class="btn btn-warning"
                                                    id='{{row.id}}'><i class="fa fa-edit"></i> Edit</a>
                                                <a href="{% url 'delete_product' row.id %}" class="btn btn-danger"
                                                    id='{{row.id}}'><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block javascript %}
  <script>
      $(document).ready(function () {
        $('#myTable').DataTable({
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            "pagingType": "simple_numbers"
        });
    });
  </script>
{% endblock javascript %}