{% extends "layouts/app.html" %}
{% load static %}
{% block content %}
<div class="login-box">
    <div class="login-logo">
        <img src="{% static 'img/logo.png' %}" alt="Logo" height="90px"><br>
        <a href="#"><b>CoffeShopKu</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" required class="form-control" name="username" value="{% if form.username.value == None %}{%else%}{{form.username.value}}{% endif %}" placeholder="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-users"></span>
                            </div>
                        </div>
                    </div>
                    {% if form.errors %}
                    <div class="text-danger">
                        <strong>{{ form.username.errors}}</strong>
                    </div>
                    {% endif%}
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" required class="form-control" name="password" value="{% if form.password.value == None %}{%else%}{{form.password.value}}{% endif %}" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    {% if form.errors %}
                    <div class="text-danger">
                        <strong>{{ form.password.errors}}</strong>
                    </div>
                    {% endif%}
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-danger btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <!-- <p class="mb-0">
                <a href="/accounts/signup" class="text-center">Register a new membership</a>
            </p> -->
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
{% endblock %}